<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/css/style.css">
    <title>Bao Cao Su, Gel Bôi Trơn & Tình Dục An Toàn | Durex Vietnam</title>
</head>

<body>
    <div id="header">
        <div id="logo-bar">
            <img style="border-radius: 10px; height: 100px; width: 20%; padding: 0 0 0 6%;"
                src="~/assets/images/logo.png">
            <ul style="font-size: larger;padding: 0 0 0 10%">
                <li style="padding: 1% 0 0 0 " ><a class="font-link" href="http://127.0.0.1:5500/Day05/PM/index.html">Sản Phẩm</a></li>
                <li style="padding: 1% 0 0 0 "><a class="font-link" href="https://www.durexvietnam.vn/collections/gel-boi-tron">Gel Bôi Trơn</a></li>
                <li style="padding: 1% 0 0 0 "><a class="font-link" href="https://www.durexvietnam.vn/collections/find-your-best-fit">Chọn Bao Vừa Vặn</a></li>
            </ul>
            <ul style="font-size: larger;padding: 1% 0 0 10%">
               
                <li style="padding: 1% 0 0 0 " class = "font-link">Bao Cao Su </li>
                <li style="padding: 1% 0 0 0 "><a class="font-link" href="https://www.durexvietnam.vn/blogs/bi-kip-cho-cuoc-yeu-thang-hoa">Bí Kíp Cho Cuộc Yêu Thăng Hoa</a></li>
            </ul>
        </div>
        <div id="search-bar">
            <input
                style="font-size:larger;color:grey;background-color: white;border:none;border-radius:100px;height:30px;width:70%;padding: 0 0 0 2%"
                placeholder="TÌM KIẾM" id="searchInput">
        </div>
    </div>
    <div id="main" >
       @RenderBody()
    </div>
    <div id="footer" >
        <img src = "~/assets/images/footer.png">
    </div>
   
</body>

</html>