@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

@Html.Partial("_MenuPartialView")
<style>
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    overflow-x: hidden;
}
</style> 
<body>
<div class="col l-9">
      <div class="rte">
        <div id="intro"><article style="text-align: justify;">
            <h4>Thuốc tránh thai khẩn cấp thường là “cứu cánh” khi bạn gái quan hệ không dùng bao cao su, hoặc những cách tránh thai khác. Tuy nhiên, bạn nên biết về các tác dụng phụ để chủ động bảo vệ bản thân trước những biến chứng về sau!</h4>
            <p style="text-align: center;" id="intro"><img src="https://cdn.shopify.com/s/files/1/0104/6662/3554/files/KZDL10282_Home_page_-_Blog_Image_832_x_468px_517e9419-b8df-4fe4-9f73-678de9f4fea1.jpg?v=1614808465" alt="4 điều không nên chủ quan về tác dụng phụ của thuốc tránh thai khẩn cấp" style="display: block; margin-left: auto; margin-right: auto; float: none;"></p>
            <p style="text-align: center; font-size: 18px;">Lưu ý khi sử dụng thuốc tránh thai khẩn cấp</p>
            </article>
            </div><div class="section1" id="section0"><h2 id="section0">4 tác dụng phụ thường gặp</h2>
            <h3 style="padding-left: 30px;">1.&nbsp;Tử cung ra máu bất thường</h3>
            <p>Nhiều bạn gái đã gặp phải tình trạng uống thuốc tránh thai khẩn cấp bị ra máu. Tuy nhiên, bạn không nên quá lo lắng. Vì đa số trường hợp này không&nbsp;ảnh hưởng nghiêm trọng đến&nbsp;sức khỏe.&nbsp;</p>
            <p>Cũng có khi bạn gái ra máu nhiều hơn 2 ngày sau khi uống. Lúc này, hãy tìm bác sĩ để có hướng giải quyết. Đó cũng có thể là dấu hiệu cảnh báo một vấn đề&nbsp;sức khỏe&nbsp;nghiêm trọng nào đó.</p>
            <h3 style="padding-left: 30px;">2. Thay đổi chu kỳ kinh nguyệt</h3>
            <p>Thuốc tránh thai đường uống chứa các thành phần gây ức chế hormone sinh dục nữ, và ngăn sự rụng trứng nên làm ảnh hưởng đến chu kỳ kinh nguyệt. Điều này có thể làm bạn lo lắng, bởi lẽ kỳ kinh nguyệt chính là một trong các yếu tố để dễ nhận biết việc thụ thai.</p>
            <p>Trường hợp nếu đã trễ chu kỳ một tuần, bạn nên tham gặp bác sĩ và sử dụng que thử thai, hoặc xét nghiệm máu để kiểm tra mình đã mang thai hay chưa!</p>
            <h3 style="padding-left: 30px;">3. Cảm thấy mệt mỏi</h3>
            <p>Biểu hiện này kéo dài khoảng một hoặc hai ngày vào buổi sáng, thường xảy ra ở người lần đầu uống thuốc tránh thai khẩn cấp. Tuy vậy, nếu qua giai đoạn trên và bạn vẫn mệt mỏi, thì hãy tham khảo ý kiến của bác sĩ ngay. Một vài biểu hiện ít gặp khác như: tức ngực, đau đầu, giảm ham muốn…</p>
            <h3 style="padding-left: 30px;">4. Chóng mặt và nôn mửa</h3>
            <p>Có đến 50% phụ nữ uống thuốc tránh thai khẩn cấp bị buồn nôn. Bạn cũng không cần quá lo lắng bởi nó sẽ tự biến mất sau 1-2 tuần.</p>
            <p>Tuy nhiên, nếu bị nôn ói dai dẳng, bạn cần xem lại chế độ ăn uống bằng cách loại bỏ những thực phẩm dễ gây kích ứng. Nếu cần, hãy đến bệnh viện để xác định chính xác nguyên nhân buồn nôn.</p>
            </div><div class="section" id="section1"><h2 id="section1">
            <b>Cẩn trọng với tác dụng phụ của thuốc tránh thai khẩn cấp trong thời</b> <b>gian dài</b>
            </h2>
            <p style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0104/6662/3554/files/DWI-79_Home_page_-_Blog_Image_832_x_468px_0e363e4f-e06f-4faf-b874-c57feca07d97.jpg?v=1614808679" alt="Tác dụng phụ của thuốc tránh thai khẩn cấp" style="display: block; margin-left: auto; margin-right: auto; float: none;"></p>
            <p style="text-align: center; font-size: 18px;">Tác dụng phụ của thuốc tránh thai khẩn cấp</p>
            <p>Bạn biết không, thuốc tránh thai khẩn cấp được chỉ định áp dụng với người khỏe, và không nên dùng quá 2 lần/ tháng. Việc lạm dụng thuốc ngừa thai khẩn cấp sẽ dẫn đến biến chứng lâu dài.</p>
            <ul>
            <li>Rối loạn huyết áp, thậm chí là gây cao huyết áp</li>
            <li>Sự mất cân bằng nội tiết tố khiến bạn mắc bệnh về túi mật</li>
            <li>Tăng cân</li>
            <li>Tác nhân của vấn đề trầm cảm</li>
            <li>U nang buồng trứng</li>
            <li>Rối loạn hô hấp</li>
            </ul>
            <p>Ngoài ra, thuốc tránh thai khẩn cấp có thể gây hại thai kỳ, nên phụ nữ mang thai tuyệt đối không sử dụng với bất kỳ lý do gì. Bên cạnh đó, những người gặp vấn đề rối loạn đông máu, PCOS (hội chứng buồng trứng đa nang), huyết áp cao và trầm cảm cũng nên tránh.</p>
            </div><div class="section" id="section2"><h2 id="section2"><b>Những lưu ý </b></h2>
<p>Để hạn chế tác dụng phụ, bạn nên chú ý đến những vấn đề sau:</p>
<ul>
<li>Tuân thủ liệu trình, không uống quá 2 liệu trình/ tháng, và quá 3 lần/năm</li>
<li>Nắm rõ thành phần thuốc để phòng dị ứng, xem kỹ hướng dẫn sử dụng</li>
<li>Nếu tác dụng phụ diễn ra quá lâu hoặc xuất hiện thêm biểu hiện bất thường, bạn cần đến bệnh viện kiểm tra ngay</li>
</ul>
<p>Bạn thấy đấy, những tác dụng phụ của thuốc tránh thai cấp tốc có thể sẽ làm ảnh hưởng nghiêm trọng đến chất lượng sống. Thuốc cũng chỉ có hiệu quả trong vòng 24h-72h sau khi quan hệ và không thể ngăn các bệnh lây nhiễm qua đường tình dục. Trong khi đó, <a href="https://www.durexvietnam.vn/blogs/ba-con-soi/cac-bien-phap-tranh-thai-an-toan-cho-ca-hai"><strong>các biện pháp ngừa thai</strong></a> khác như đặt vòng, thắt ống dẫn trứng… cũng có thể gây ra tác dụng phụ hoặc rủi ro biến chứng.</p>
</div><div class="section" id="section3"><h2 id="section3"><b>Bao cao su với khả năng tránh thai hàng đầu</b></h2>
<p><a href="https://www.durexvietnam.vn/blogs/bi-kip-cho-cuoc-yeu-thang-hoa/huong-dan-cach-deo-bao-cao-su-dung-cach-va-an-toan"><strong>Sử dụng bao cao su khi quan hệ</strong></a> tình dục được xem là cách an toàn, rẻ tiền, không tác dụng phụ và ít rủi ro khi bạn muốn tránh thai. Bao cao su hoạt động như một màng ngăn vật lý, không cho tinh trùng tiếp cận với trứng. Hơn nữa, bao cao su cũng hạn chế đáng kể nguy cơ lây nhiễm các <a href="https://www.durexvietnam.vn/blogs/ba-con-soi/the-nao-la-benh-hoa-lieu-nhung-dieu-ban-can-biet"><strong>bệnh tình dục</strong></a> nhờ tính năng ngăn tiếp xúc với dịch cơ thể ở cả người nam lẫn người nữ.</p>
</div></div></div>
</body>
