@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>

<body>
    <div id="main">
        <div class="hero-image">
            <div class="hero-text">
                <div class="test">
                    <h1 style="font-size:40px;"> KHỞI ĐỘNG CHO ĐÊM NÓNG BỎNG...</h1>
                    <button class="button button1">MUA NGAY</button></a></h5></a></h5></a></h5></a></h5>
                </div>
            </div>
        </div>

    
    <div class="header2">
        <div class="khoi-slide">
	        <div class="cac-slide">
		        <div class="slide active"><img style="width: 100%;height:400px;" src="~/assets/images/l4.png" ></div>
		        <div class="slide"><img style="width:100%;height:400px;" src="~/assets/images/l3.png" ></div>
                <div class="slide"><img style="width:100%;height:400px;" src="~/assets/images/l1.png" ></div>
	        </div>
	        <div class="nut-slide">
		        <span id="btn-prev"><i class="fas fa-chevron-left"></i></span>
		        <span id="btn-next"><i class="fas fa-chevron-right"></i></span>
		        <ul>
			        <li class="active_nut"></li>
			        <li></li>
			        <li></li>
			        <li></li>
		        </ul>
	        </div>
    
        </div>	
            <div class="text">
                <div class = "text1">
                    <h1 style="font-size:80px; text-align:center;padding-top:30px;" >THỎA MÃN TRONG MỌI CUỘC YÊU</h1>
                    <p style="text-align:center;font-weight: bold;font-size:15px;">Đã rất xưa rồi thời mỗi người chỉ có một cách yêu, chỉ làm một tư thế và chỉ tin vào một suy nghĩ lối mòn.
                     <br>Durex tin rằng ai cũng có thể trải nghiệm cuộc yêu thăng hoa với người ấy của mình.
                    <br> Đã đến lúc thách thức định kiến và phá bỏ những lối mòn.
                     <br>Cứ “yêu” theo cách của bạn – miễn là đê mê!</p>
                </div>
                <div class="the" style="padding-top:20px;"> 
                      <button style="margin:auto;display:block;"class="but but1">BÍ KÍP CHO CUỘC YÊU THĂNG HOA </button>
                </div>
            </div>
    </div>

    <div class = "content">
    <section class="from-blog spad">
        <div class="container">
            <div class="row" style="text-align:center; margin:auto;display:block;">
              
                    <div class="section-title from-blog__title" >
                        <h2>THÔNG TIN</h2>
                    </div>
               
            </div>
            <div class="row1">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="https://cdn.shopify.com/s/files/1/0104/6662/3554/files/KZDL10282_Home_page_-_Blog_Image_832_x_468px_517e9419-b8df-4fe4-9f73-678de9f4fea1.jpg?v=1614808465" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 16,2022</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5>
                                @*<a href="#">Không nên chủ quan khi dùng thuốc tránh thai khẩn cấp</a>*@
                                @Html.ActionLink("Không nên chủ quan khi dùng thuốc tránh thai khẩn cấp","about","home")
                            </h5>
                            <p>Thuốc tránh thai khẩn cấp thường là “cứu cánh” khi bạn gái quan hệ không dùng bao cao su, hoặc những cách tránh thai khác. Tuy nhiên, bạn nên biết về các tác dụng phụ để chủ động bảo vệ bản thân trước những biến chứng về sau! </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="https://cdn.shopify.com/s/files/1/0104/6662/3554/files/DWI-61_Home_page_-_Blog_Image_832_x_468px.jpg?v=1614807061" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 16,2022</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Có dễ mang thai khi quan hệ ở ngày rụng trứng ?</a></h5>
                            <p>Vào những ngày rụng trứng, bạn gái thường tăng ham muốn tình dục. Vậy quan hệ ngày rụng trứng có dễ mang thai không? Tìm hiểu thông tin sau để có câu trả lời cho những thắc mắc của bạn.  </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="https://cdn.shopify.com/s/files/1/0104/6662/3554/files/DWI-105_Home_page_-_Blog_Image_832_x_468px.jpg?v=1614809130" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">5 Biện pháp tránh thai phổ biến nhất</a></h5>
                            <p>Có nhiều biện pháp để bạn ngăn ngừa thụ thai sau khi quan hệ tình dục, tuy nhiên biện pháp nào hiệu quả và phù hợp nhất là vấn đề cần phải quan tâm để chủ động bảo vệ sức khoẻ. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
        


<div class="wrapper">
  
</div>


    </div>


   
    </div>
    

    <script type="text/javascript" src="~/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="~/js/popper.min.js"></script>
	<script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="~/js/script.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>
@*   <script type="text/javascript">
        function validateCaseSensitiveEmail() {

            var email = document.getElementById('txtEmail').value;
            var reg = /^[_a-z0-9-]+(\.[_a-z0-9-]+)*[a-z0-9-])+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/;
            if (reg.test(email)) {
                alert("Valid");
            }
            else {
                alert("In Valid");
            }
        } 
</script>*@


</body>
