@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

@*<link rel="stylesheet" href="~/css/style3.css">*@
<div>
        <div id="banner">
           <div style="width: 100%; font-size:xx-large; text-align: center;color:white;">CÁC SẢN PHẨM BAO CAO SU VÀ GEL BÔI TRƠN TỐT</div>
        </div>
        <div>
            <h4 style="color:rgba(0,91,170,255);text-align: center;padding-top:2%;">Tại đây bạn sẽ tìm thấy các sản phẩm nâng cao chất lượng cuộc yêu: từ bao cao su có gân và hạt nổi, bao cao su kéo dài thời gian quan hệ đến các loại gel bôi trơn. Hãy lựa chọn ngay! </h4>
            <h3 id = "total" style="color:rgba(0,91,170,255);text-align:left;font-size:xx-large;padding:2% 0 0 3%;">22 SẢN PHẨM</h3>
        </div>
        <div class="container">
            <div id="item-choice">
                <div style="">Pack size</div>
                <ul class="size-option" style="display:flex;">
                    <li><button>3</button></li>
                    <li><button>10</button></li>
                    <li><button>12</button></li>
                </ul>
                <ul>
                    <li class="option">
                        <label>Bổ sung gel</label>
                        <input type="checkbox" />
                    </li>
                    <li class="option">
                        <label>Có gân và gai</label>
                        <input type="checkbox" />
                    </li>
                    <li class="option">
                        <label>Có mùi vị</label>
                        <input type="checkbox" />
                    </li>
                    <li class="option">
                        <label>Cơ bản</label>
                        <input type="checkbox" />
                    </li>
                    <li class="option">
                        <label>Gel có mùi</label>
                        <input type="checkbox" />
                    </li>
                    <li class="option">
                        <label>Gel gốc nước</label>
                        <input type="checkbox" />
                    </li>
                    <li class="option">
                        <label>Kéo dài thời gian</label>
                        <input type="checkbox" />
                    </li>
                    <li class="option">
                        <label>Mỏng</label>
                        <input type="checkbox" />
                    </li>
                </ul>
            </div>
            <div class="items">
        
            </div>
        </div>
      @*  <div id="page">
            <a style="text-decoration:none;font-size: large; padding:0 15px 0 25px;" href ="https://www.durexvietnam.vn/collections/all?page=1">1</a>
            <a style="text-decoration:none;font-size: large; padding:0 15px 0 25px;" href ="https://www.durexvietnam.vn/collections/all?page=2">2</a>
        </div>*@
</div>   
<script src="~/js/index.js"></script>
      