body{
    font-family:One Night SansVN,sans-serif;
    width: 100vw;
    height: 100vw;
    margin: 0;
    padding: 0;
    justify-content: center;
    overflow-x: hidden;
}

/* @media only screen and (max-width: 50%px) {
    body {
        width: 50vw;
        height: 50vw;;
    }
} */

/*==============================================================================*/

#main{
    width: 100%;
}
#banner{
    background-image: url(https://cdn.shopify.com/s/files/1/0104/6662/3554/collections/blue-balls-plp-bg_1920x.jpg?v=1592438182);
    /* background-repeat: no-repeat; */
    /* background-position: 50%; */
    background-size: cover;
    width: 100%;
    height: 200px;
    /* text-align: center; */
}
.container{
    width: 100%;

    display:flex;
}
#item-choice{
    width: 20%;
  
}
.items{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    /* border: 1px solid black; */
} 
.itemDiv{
    width: 30%;
    height: 25%;
    padding: 2% 0 2% 0;
    color: rgba(0,91,170,255);
    text-align: center;   
}
.itemDiv img{
    width: 300px;
    height: 300px;
}
#page{
    display: flex;
    justify-content: center;
    /* color: rgba(0,91,170,255); */
    color: white;
    margin-top: 5%;
    vertical-align: middle;
}
