.header {
    text-align: center;
    margin-top: 2em;
    background-color: rgba(0,91,170,255);
}

.logo h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    color: white;
    display: inline-block;
    position: relative;
}

    .logo h1 a {
        text-decoration: none;
        color: white;
    }

    .logo h1 span {
        font-size: 16px;
        display: block;
        letter-spacing: 4px;
        text-transform: uppercase;
        font-family: 'Noto Sans', sans-serif;
        padding-top: 4px;
    }

    .logo h1 b {
        font-size: 9px;
        background: #ED0612;
        font-weight: normal;
        padding: 3px;
        display: inline-block;
        position: absolute;
        top: 8px;
        left: -10px;
        color: #fff;
        line-height: 8px;
    }

.card li {
    display: inline-block;
}

    .card li a {
        display: inline-block;
        color: white;
        font-size: 0.9em;
        margin: 0 0.5em;
    }

        .card li a i {
            margin-right: 5px;
            color: #FAB005;
        }
/*--social--*/
.social-top li {
    display: inline-block;
}


