body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    overflow-x: hidden;
}

/*layout*/
#header {
    background-color: rgba(0,91,170,255);
    width: 100%;
    display: flex;
}

#logo-bar {
    /*  padding-left: 10px;*/
    display: flex;
}

    #logo-bar img {
        height: 100px;
        width: 100px;
        padding: 10px;
    }

.dropdown {
    overflow: hidden;
}

    .dropdown .dropbtn {
        cursor: pointer;
        border: none;
        outline: none;
        width: fit-content;
        color: white;
        font-size: small;
        text-decoration: none;
    }

    .dropdown:hover .dropbtn, .dropbtn:focus {
        text-decoration: underline white solid;
    }

.dropdown-content {
    position: fixed;
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
}

    .dropdown-content a {
        font-size: small;
        float: none;
        color: black;
        padding: 5px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
            border-radius: 8px;
        }

.show {
    display: block;
}

#search-bar {
    -webkit-appearance: none;
    padding: 30px;
    margin: 15px 0 0 0;
}

#searchInput {
    background: url(https://cdn.shopify.com/s/files/1/0104/6662/3554/t/13/assets/search.svg) no-repeat center right 18px #fff;
    background-size: auto 20px;
    outline: none;
}

.font-link {
    color: white;
    font-size: small;
    text-decoration: none;
}


.footer {
    background-color: rgba(0,91,170,255);
    width: 100%;
}

ul {
    list-style-type: none;
}

.main-footersocial {
    display: flex;
    width: 120px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.footer-box {
    height: 100%;
    width: 350px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.footer-credits {
    font-size: small;
    color: white;
    margin-top: 10px;
    padding-bottom: 10px;
}

.extra-footer .font-link:hover {
    color: white;
    text-decoration: underline white solid;
}

#header #logo-bar .font-link:hover {
    color: white;
    text-decoration: underline white solid;
}
/*==============================================================================*/

#main {
    width: 100%;
}

#banner {
    background-image: url(https://cdn.shopify.com/s/files/1/0104/6662/3554/collections/blue-balls-plp-bg_1920x.jpg?v=1592438182);
    /* background-repeat: no-repeat; */
    /* background-position: 50%; */
    background-size: cover;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    /* text-align: center; */
}

.container {
    width: 100%;
    display: flex;
}

#item-choice {
    margin-left: auto;
    margin-right: auto;
}

.items {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    /* border: 1px solid black; */
}

.itemDiv {
    width: 30%;
    padding: 2% 0 2% 0;
    color: rgba(0,91,170,255);
    text-align: center;
}

    .itemDiv img {
        width: 300px;
        height: 300px;
    }

#page {
    display: flex;
    justify-content: center;
    /* color: rgba(0,91,170,255); */
    color: white;
    vertical-align: middle;
}

.option label {
    padding: 5px;
    font-size: large;
    font-weight: 700;
    color: gainsboro;
    width: 160px;
    display: inline-block;
}

.size-option button {
    background-color: white;
    border: 2px solid rgba(0,91,170,255);
    border-radius: 10px;
    color: rgba(0,91,170,255);
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

    .size-option button:hover {
        background-color: ButtonHighlight;
    }

.option label:hover {
    color: rgba(0,91,170,255);
    cursor: pointer;
}

.size-option button:focus {
    background-color: ButtonHighlight;
}

.option:focus-within {
    color: rgba(0,91,170,255);
}

@media screen and (max-width: 700px) {
    #header {
        display: block;
    }

    #logo-bar .font-link {
        color: yellow;
    }

    #search-bar {
        text-align: center;
        padding: 15px;
        margin: 0;
    }

    .dropdown .dropbtn {
        color: yellow;
    }
}
